<div class="row">
    <div class="col-lg-12">
        <h2>Features</h2>
    </div>

    {{ range $.Site.Data.features.feature }}
        {{ if .important }}
            <div class="col-sm-3 iconblock">
                    <img src="{{ $.Site.BaseURL }}img/features/{{ .img }}" alt="{{ .title }}">
                    <h3>{{ .title | markdownify }}</h3>
                    <p>{{ .text | markdownify }}</p>
            </div>
        {{ end }}
    {{ end }}

    <div class="col-lg-12">
        <p><a href="{{ "features/" | absLangURL }}">Read more</a></p>
    </div>
</div>
