        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Contact</h4>

                        <p>{{ .Site.Params.contact | safeHTML }}</p>
                    </div>

                    <div class="col-lg-4">
                        <h4>{{ i18n "Language" }}</h4>
                        <ul>
                            {{ range .Site.Languages }}
                                <li>
                                    <a href="{{ $.Site.BaseURL }}{{ .Lang }}{{ $.URL | replaceRE "^/[a-z]+" "" }}">
                                        {{ if eq .Lang "de" }}
                                            Deutsch
                                        {{ else }}
                                            English
                                        {{ end }}
                                    </a>
                                </li>
                            {{ end}}
                        </ul>
                    </div>
                </div>
            </div>
        </footer>


        <script src="{{ .Site.BaseURL }}vendor/jquery/jquery.min.js"></script>

        <script src="{{ .Site.BaseURL }}vendor/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
