        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>{{ i18n "contact" }}</h4>

                        <p>{{ .Site.Params.contact | safeHTML }}</p>
                    </div>

                    <div class="col-lg-4">
                        <h4>{{ i18n "lang" }}</h4>
                        {{ range .Translations }}
                        <p>
                            <a href="{{ .Permalink }}">
                                {{ if eq .Lang "de" }}
                                    Auf deutsche Version wechseln
                                {{ else }}
                                    Switch to English
                                {{ end }}
                            </a>
                        </p>
                        {{ end}}
                    </div>
                </div>
            </div>
        </footer>


        <script src="{{ .Site.BaseURL }}vendor/jquery/jquery.min.js"></script>

        <script src="{{ .Site.BaseURL }}vendor/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
