html {
    background-color: #3aafb9;
}

/*
 * Main menu
 */
.navbar-custom {
    background-color: white;

    border-bottom: 5px solid;
    border-color: #3aafb9;
}

.navbar-custom a {
    color: black;
    font-size: 200%;
}

.navbar-custom li {
    padding-left: 1em;
    padding-right: 1em;

    width: 10em;
}

.navbar-custom li a {
    text-align: center;
    font-size: 120%;
}

.navbar-custom li a:hover, .navbar-custom .active a {
    background-color: #3aafb9;
    color:white;
}

/*
 * First block under fixed main menu
 */
.firstelement {
    margin-top: 50px;
}

.content {
    padding-top: 2em;
    padding-bottom: 2em;
}

/*
 * Title block
 */
.title-block {
    width: 100%;
    padding: 0.5em;

    background-color: #3aafb9;
    color:white;

    font-size: 4em;
}

/*
 * Content
 */
a, a:hover, a:active, a:focus {
    color: #3aafb9;
}

/*
 * Footer
 */
footer {
    padding-top: 2em;
    padding-bottom: 2em;

    background-color: #3aafb9;
    color: white;
}

footer a, footer a:hover, footer a:active, footer a:focus {
    color: white;
}
